/* Regular */
@font-face {
    font-family: 'Junicode';
    font-style: normal;
    font-weight: 400;
    src: url(https://cdn.jsdelivr.net/gh/psb1558/Junicode-font@Junicode-One/legacy/Junicode.ttf);
}
/* Bold */
@font-face {
    font-family: 'Junicode';
    font-style: normal;
    font-weight: 700;
    src: url(https://cdn.jsdelivr.net/gh/psb1558/Junicode-font@Junicode-One/legacy/Junicode-Bold.ttf);
}
/* Italic */
@font-face {
    font-family: 'Junicode';
    font-style: italic;
    font-weight: 400;
    src: url(https://cdn.jsdelivr.net/gh/psb1558/Junicode-font@Junicode-One/legacy/Junicode-Italic.ttf);
}
/* BoldItalic */
@font-face {
    font-family: 'Junicode';
    font-style: italic;
    font-weight: 400;
    src: url(https://cdn.jsdelivr.net/gh/psb1558/Junicode-font@Junicode-One/legacy/Junicode-BoldItalic.ttf);
}
